@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap');
:root {
    --main-dark: #000000;
    --main-bright: #FCB81F;
    --main-blue: #002C4A;
    --accent-blue: #FFE7CE;
    --main-offwhite: #c3c3c3;
    --main-padding: 4rem;

    --margin: 4rem;
    --borderr: .5rem
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-dark);
    color: var(--main-dark);
    color: white;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
  }
  
body {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

section {
    padding: 0em 1em;
}

img {
    object-fit: cover;
}

html.lenis {
    height: 100%;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.blue {
    color: var(--main-bright);
}

.white {
    color: var(--main-offwhite);
}